body{
    background-color: rgb(244, 222, 25);
    font-family: var(--fonts-primary);
    font-size: 14px;
    min-height: 100vh;
    text-align: center;
}
#letter{
    font-size: 50px;
}
#tens{
    font-size: 30px;
}
#seconds{
    font-size: 30px;
}
#start{
    font-size: 20px;
}
#colon{
    font-size: 1000px;
}
